* {
    box-sizing: border-box;
}
ion-icon {
    display: none;
}
.barra-topo{
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.barra-topo > h2 {
    font-size: 44px;
    color: #FFFFFF;
    font-family: "Righteous";
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
}
.barra-topo > h3 {
    font-size: 18px;
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: 400;
    margin-left: 20px;
}

.container {
    margin-top: 123px;
    width: 414px;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
}
.container > h1 {
    margin-bottom: 17px;
    font-size: 26px;
    font-size: 400;
    margin-left: 20px;
}
.pratos {
    display: flex;
    margin-bottom: 27px;
    overflow-x: scroll;
    margin-bottom: 90px;
    margin-left: 20px;
}
.prato {
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 16px;
    border-radius: 9px;
}
.prato > img {
    width: 144px;
    height: 87px;
    margin-top: 18px;
}
.prato > h2 {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    position: absolute;
    left: 14px;
    bottom: 80px;
}
.descricao {
    position: absolute;
    left: 14px;
    bottom: 37px;
}
.descricao > h4 {
    font-size: 15px;
    color: #A6A6A6;
    font-weight: 300;
}
.prato > h3 {
    position: absolute;
    left: 14px;
    bottom: 13px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.drink {
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 16px;
    border-radius: 9px;
}
.drink > img {
    width: 144px;
    height: 87px;
    margin-top: 18px;
}
.drink > h2 {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    position: absolute;
    left: 14px;
    bottom: 80px;
}
.drink > h3 {
    position: absolute;
    left: 14px;
    bottom: 13px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.sobremesa {
    width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 16px;
    border-radius: 9px;
}
.sobremesa > img {
    width: 144px;
    height: 87px;
    margin-top: 18px;
}
.sobremesa > h2 {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    position: absolute;
    left: 14px;
    bottom: 80px;
}
.sobremesa > h3 {
    position: absolute;
    left: 14px;
    bottom: 13px;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.barra-baixo {
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.botao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A6A6A6;
    width: 364px;
    height: 61px;
    border-radius: 50px;
}
.botao1 > h3 {
    font-size: 20px;
    color: #FFFFFF;
}
.botao2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32B72F;
    width: 364px;
    height: 61px;
    border-radius: 50px;
}
.botao2 > h3 {
    font-size: 20px;
    color: #FFFFFF;
}
.selecionar {
    border: 5px solid #32B72F;
}
.selecionar > ion-icon {
    display: initial;
    color: #32B72F;
    position: absolute;
    bottom: 13px;
    right: 5px;
}
.selecionardrink {
    border: 5px solid #32B72F;
}
.selecionardrink > ion-icon {
    display: initial;
    color: #32B72F;
    position: absolute;
    bottom: 13px;
    right: 5px;
}
.selecionarsobremesa {
    border: 5px solid #32B72F;
}
.selecionarsobremesa > ion-icon {
    display: initial;
    color: #32B72F;
    position: absolute;
    bottom: 13px;
    right: 5px;
}
.esconder {
    display: none;
}